.clf:after {
  content: "";
  display: table;
  clear: both; }

#grid-container {
  padding: 0;
  margin: 0;
  border: 0; }

.tile {
  padding: 0;
  margin: 0;
  border: 0; }
  .tile figcaption {
    padding: 0;
    margin: 0;
    border: 0; }
  .tile img {
    padding: 0;
    margin: 0;
    border: 0;
    display: block; }

#grid-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 900px;
  padding: 5px;
  background-color: #eeeeee; }

.frame {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 25px solid black;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease; }

.cell {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  overflow: hidden; }

.tile {
  position: relative;
  background-color: white;
  clear: both;
  width: 215px;
  height: 215px;
  margin-bottom: 5px; }
  .tile.big {
    width: 435px;
    height: 435px; }
  .tile:last-child {
    margin: 0; }
  .tile figcaption {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 24px;
    text-align: center;
    width: 100%; }
  .tile:hover figcaption {
    display: block; }
  .tile:hover .frame {
    opacity: 1; }
