$border-width: 25px
$large-tile-width: 435px
$small-tile-width: 215px

$color1: #FFBE59
$color2: #E88751
$color3: #FF7466
$color4: #E855AA
$color5: #D55EFF

@mixin box-sizzle
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

@mixin transition($t)
  transition: $t
  -o-transition: $t
  -moz-transition: $t
  -webkit-transition: $t

.clf:after
  content: ""
  display: table
  clear: both

#grid-container
  padding: 0
  margin: 0
  border: 0

.tile
  padding: 0
  margin: 0
  border: 0
  figcaption
    padding: 0
    margin: 0
    border: 0
  img
    padding: 0
    margin: 0
    border: 0
    display: block

#grid-container
  @include box-sizzle
  width: 900px
  padding: 5px
  background-color: #eee

.frame
  @include box-sizzle
  border: $border-width solid black
  width: inherit
  height: inherit
  position: absolute
  top: 0
  left: 0
  opacity: 0
  @include transition(opacity 0.5s ease)

.c1
  border-color: $color1
.c2
  border-color: $color2
.c3
  border-color: $color3
.c4
  border-color: $color4
.c5
  border-color: $color5

.cell
  @include box-sizzle
  float: left
  margin-right: 5px
  margin-bottom: 5px
  overflow: hidden

.tile
  position: relative
  background-color: #fff
  clear: both
  width: $small-tile-width
  height: $small-tile-width
  margin-bottom: 5px
  &.big
    width: $large-tile-width
    height: $large-tile-width
  &:last-child
    margin: 0
  figcaption
    display: none
    position: absolute
    bottom: 0
    left: 0
    color: white
    font-size: 24px
    text-align: center
    width: 100%
  &:hover figcaption
    display: block
  &:hover .frame
    opacity: 1
