@import resets
@import constants

$main-size: 800px

.tile-thumb
  float: left
  width: $small-tile-width-wide
  height: $small-tile-width-wide + 50px
  padding: 5px
  margin: 5px
  background-color: #eee
  img
    max-width: $small-tile-width-wide
    max-height: $small-tile-width-wide
    display: block
    margin: 0 auto 5px auto
  figcaption
    font-weight: lighter

#bucket-list
  .bucket
    background-color: #eee
    margin: 5px 0
    border-radius: 5px
    padding: 5px
  .bucket-name
    font-family: Times, serif
    font-size: 32px
    border-bottom: 1px dashed
  .menu-item
    display: inline-block
    float: left
  .bucket-name,
  .show-layouts
    margin-right: 5px
  .wall
    margin: 5px 0

.walls
  @include transition(height 0.5s ease-in-out)
  height: 0
  overflow: hidden
.open
  .walls
    height: auto

.main
  // width: $main-size
  margin: 40px auto

// Uploader

#drop-screen
  @include box-sizzle
  display: none
  background: rgba(0,0,0,0.4)
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0
  padding: 25px

#drop-target
  border: 5px dashed white
  border-radius: 50px
  height: 100%
  background-color: #aaa
  .file-list
    margin: 25px
  .file-entry
    padding: 5px 10px
  .name
    padding-right: 25px
  .success
    color: #0F0
  .error
    color: #F00
