@import resets
@import constants

$main-size: 800px

.show-layouts
  display: none

.collapsed
  li
    display: none
  .show-layouts
    display: inline
  .hide-layouts
    display: none

.tile-thumb
  float: left
  width: $small-tile-width
  height: $small-tile-width + 50px
  padding: 5px
  margin: 5px
  background-color: #eee
  img
    max-width: $small-tile-width
    max-height: $small-tile-width
    display: block
    margin: 0 auto 5px auto
  figcaption
    font-weight: lighter

#bucket-list
  ol
    margin-left: 25px

.main
  width: $main-size
  margin: 40px auto
