$mobile-query: "only screen and (min-device-width: 320px) and (max-device-width: 480px)"
$desktop-query: "only screen and (min-device-width: 481px)"

$tile-background: transparent

$border-width-wide: 15px
$large-tile-width-wide: 435px
$small-tile-width-wide: 215px
$tile-margin-wide: 5px
$tile-border-wide: $tile-margin-wide solid $tile-background

$border-width-narrow: 8px
$large-tile-width-narrow: 150px
$small-tile-width-narrow: 75px
$tile-margin-narrow: 0px
$tile-border-narrow: $tile-margin-narrow solid $tile-background

$color1: #FFBE59
$color2: #E88751
$color3: #FF7466
$color4: #E855AA
$color5: #D55EFF

@mixin box-sizzle($type: border-box)
  box-sizing: $type
  -moz-box-sizing: $type
  -webkit-box-sizing: $type

@mixin transition($t...)
  transition: $t
  -o-transition: $t
  -moz-transition: $t
  -webkit-transition: $t

@mixin transform($t, $o)
  transform: $t
  -o-transform: $t
  -ms-transform: $t
  -moz-transform: $t
  -webkit-transform: $t
  transform-origin: $o
  -o-transform-origin: $o
  -ms-transform-origin: $o
  -moz-transform-origin: $o
  -webkit-transform-origin: $o
