#photowall-container
  font-weight: normal
  font-size: 100%
  font-family: sans-serif
  h1, h2, h3, div, p, ul, ol, li, dl, dt, dd, iframe, figure, figcaption, small
    border: 0
    margin: 0
    padding: 0
    list-style: none
    font-size: inherit
    font-weight: inherit
  a
    text-decoration: none
    color: inherit
  img
    max-width: inherit
    max-height: inherit
