$lb-padding: 20px

#photowall-lightbox
  @include box-sizzle
  z-index: 10001
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
#lightbox-film
  background-color: black
  opacity: 0.6
  width: 100%
  height: 100%
#lightbox-image-plane
  @include box-sizzle
  padding: $lb-padding
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  .click-to-close
    position: absolute
    top: $lb-padding
    left: $lb-padding
    z-index: 1
    font-size: 80%
    @include box-sizzle
    border-bottom: 1px solid black
    border-right: 1px solid black
    border-bottom-right-radius: 5px
    padding: 5px
    background-color: white
    color: black
    &.mobile
      @media #{$desktop-query}
        display: none
    &.desktop
      @media #{$mobile-query}
        display: none
#lightbox-image
  position: relative
  display: inline-block
  .clickthrough
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
  p
    text-align: center
  .gift-icon
    float: right
    width: 25%
    height: 150%
    position: absolute
    right: 0
    bottom: 5%
    background: url(gift4.svg) center/contain no-repeat
  .lightbox-origin
    @include vcenter
  .lightbox-caption
    @include vcenter
    float: left
    padding-right: 25%
  img
    display: block
    margin: auto
    max-width: 100%
    max-height: 100%
  .lightbox-text
    @include box-sizzle
    background-color: rgba(0,0,0,0.75)
    width: 100%
    height: 15%
    font-size: 20px
    @media #{$mobile-query}
      font-size: 16px
    color: #eee
    border: 2px dashed #FFA200
    padding: 5px
    position: absolute
    bottom: 0
  small
    font-size: 80%
