h1, h2, h3, div, p, ul, ol, li, dl, dt, dd, iframe, figure
  border: 0
  margin: 0
  padding: 0
  list-style: none
  font-size: inherit
  font-weight: inherit

body
  font-weight: normal
  font-size: 100%
  font-family: sans-serif

a
  text-decoration: none
