@import constants

@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
  @-viewport
    width: 300px
  .photowall-container
    padding: $tile-margin-narrow 0 0 $tile-margin-narrow
    width: 300px
    .cell
      border: $tile-border-narrow
      margin-top: -$tile-margin-narrow
      margin-left: -$tile-margin-narrow
    .frame
      opacity: 1
      border-width: 0 0 $border-width-narrow 0
    .tile
      // float: left
      border-bottom: $tile-border-narrow
      width: $small-tile-width-narrow
      height: $small-tile-width-narrow
      .credit
        @include transform(none, none)
      &.big
        width: $large-tile-width-narrow
        height: $large-tile-width-narrow
      figcaption
        padding: 5px $border-width-narrow
        display: none
      &:hover .frame
        border-width: $border-width-narrow
  // #photowall-lightbox
  //   z-index: 10001
  //   position: fixed
  //   top: 0
  //   left: 0
  //   width: 100%
  //   height: 100%
  // #lightbox-film
  //   display: none
  // #lightbox-image
  //   position: absolute
  //   top: 0
  //   left: 0
  //   height: 100%
  //   width: 100%
