h1, h2, h3, div, p, ul, ol, li, dl, dt, dd, iframe, figure {
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: inherit;
  font-weight: inherit; }

body {
  font-weight: normal;
  font-size: 100%;
  font-family: sans-serif; }

a {
  text-decoration: none; }

h1 {
  font-size: 150%;
  text-align: center; }

h2 {
  font-size: 125%;
  text-align: center; }

h3 {
  text-align: center; }

.show-layouts {
  display: none; }

.collapsed li {
  display: none; }
.collapsed .show-layouts {
  display: inline; }
.collapsed .hide-layouts {
  display: none; }

.tile-thumb {
  float: left;
  width: 215px;
  height: 265px;
  padding: 5px;
  margin: 5px;
  background-color: #eeeeee; }
  .tile-thumb img {
    max-width: 215px;
    max-height: 215px;
    display: block;
    margin: 0 auto 5px auto; }
  .tile-thumb figcaption {
    font-weight: lighter; }

#bucket-list ol {
  margin-left: 25px; }

.main {
  width: 800px;
  margin: 40px auto; }
