h1, h2, h3, div, p, ul, ol, li, dl, dt, dd, iframe, figure {
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: inherit;
  font-weight: inherit; }

body {
  font-weight: normal;
  font-size: 100%;
  font-family: sans-serif; }

a {
  text-decoration: none; }

h1 {
  font-size: 150%;
  text-align: center; }

h2 {
  font-size: 125%;
  text-align: center; }

h3 {
  text-align: center; }

.tile-thumb {
  float: left;
  width: 215px;
  height: 265px;
  padding: 5px;
  margin: 5px;
  background-color: #eeeeee; }
  .tile-thumb img {
    max-width: 215px;
    max-height: 215px;
    display: block;
    margin: 0 auto 5px auto; }
  .tile-thumb figcaption {
    font-weight: lighter; }

#bucket-list .bucket {
  background-color: #eeeeee;
  margin: 5px 0;
  border-radius: 5px;
  padding: 5px; }
#bucket-list .bucket-name {
  font-family: Times, serif;
  font-size: 32px;
  border-bottom: 1px dashed; }
#bucket-list .menu-item {
  display: inline-block;
  float: left; }
#bucket-list .bucket-name,
#bucket-list .show-layouts {
  margin-right: 5px; }
#bucket-list .wall {
  margin: 5px 0; }

.walls {
  transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  height: 0;
  overflow: hidden; }

.open .walls {
  height: auto; }

.main {
  margin: 40px auto; }

#drop-screen {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 25px; }

#drop-target {
  border: 5px dashed white;
  border-radius: 50px;
  height: 100%;
  background-color: #aaaaaa; }
  #drop-target .file-list {
    margin: 25px; }
  #drop-target .file-entry {
    padding: 5px 10px; }
  #drop-target .name {
    padding-right: 25px; }
  #drop-target .success {
    color: lime; }
  #drop-target .error {
    color: red; }
