#photowall-container {
  font-weight: normal;
  font-size: 100%;
  font-family: sans-serif; }
  #photowall-container h1, #photowall-container h2, #photowall-container h3, #photowall-container div, #photowall-container p, #photowall-container ul, #photowall-container ol, #photowall-container li, #photowall-container dl, #photowall-container dt, #photowall-container dd, #photowall-container iframe, #photowall-container figure, #photowall-container figcaption, #photowall-container small {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: inherit;
    font-weight: inherit; }
  #photowall-container a {
    text-decoration: none;
    color: inherit; }
  #photowall-container img {
    max-width: inherit;
    max-height: inherit; }

#lightbox-image .clickthrough {
  width: 100%;
  height: 100%; }
#lightbox-image p {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  font-size: 20px;
  color: #eeeeee;
  padding: 5px;
  position: absolute;
  bottom: 4px;
  text-align: center; }
#lightbox-image small {
  font-size: 80%; }

.photowall-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 5px 0 0 5px;
  width: 900px; }
  .photowall-container .spinner {
    height: 128px;
    width: 128px;
    background-image: url("/spinner.gif");
    margin: 50px auto; }
  .photowall-container.ready .spinner {
    display: none; }
  .photowall-container #photowall-lightbox {
    z-index: 10001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .photowall-container #lightbox-film {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%; }
  .photowall-container #lightbox-image {
    position: fixed;
    top: 0;
    left: 0; }
  .photowall-container:after, .photowall-container .clf:after {
    content: "";
    display: table;
    clear: both; }
  .photowall-container .tile {
    padding: 0;
    margin: 0; }
    .photowall-container .tile figcaption, .photowall-container .tile img {
      display: block;
      padding: 0;
      margin: 0;
      border: 0; }
  .photowall-container .frame {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0 solid black;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, border-width 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, border-width 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out, border-width 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out, border-width 0.3s ease-in-out; }
  .photowall-container a {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0; }
  .photowall-container .c1 {
    border-color: #ffbe59; }
  .photowall-container .c2 {
    border-color: #e88751; }
  .photowall-container .c3 {
    border-color: #ff7466; }
  .photowall-container .c4 {
    border-color: #e855aa; }
  .photowall-container .c5 {
    border-color: #d55eff; }
  .photowall-container .cell {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    border: 5px solid transparent;
    margin-top: -5px;
    margin-left: -5px; }
  .photowall-container .tile {
    position: relative;
    overflow: hidden;
    border-bottom: 5px solid transparent;
    width: 215px;
    height: 215px; }
    .photowall-container .tile.big {
      width: 435px;
      height: 435px; }
    .photowall-container .tile:last-child {
      border: 0; }
    .photowall-container .tile img {
      position: relative; }
      .photowall-container .tile img.tall {
        width: 100%; }
      .photowall-container .tile img.wide {
        height: 100%; }
    .photowall-container .tile figcaption, .photowall-container .tile .credit {
      transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -webkit-transition: opacity 0.3s ease-in-out; }
    .photowall-container .tile .credit {
      opacity: 0;
      font-size: 80%;
      position: absolute;
      right: 0;
      bottom: 10px;
      color: white;
      transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform-origin: 100% 0%;
      -o-transform-origin: 100% 0%;
      -ms-transform-origin: 100% 0%;
      -moz-transform-origin: 100% 0%;
      -webkit-transform-origin: 100% 0%; }
    .photowall-container .tile figcaption {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding: 5px 15px;
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
      font-size: 14px;
      text-align: center;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4); }
    .photowall-container .tile:hover figcaption, .photowall-container .tile:hover .credit {
      opacity: 1; }
    .photowall-container .tile:hover .frame {
      opacity: 1;
      border-width: 15px; }
