@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  @-viewport {
    width: 300px; }

  .photowall-container {
    padding: 0px 0 0 0px;
    width: 300px; }
    .photowall-container .cell {
      border: 0px solid transparent;
      margin-top: 0px;
      margin-left: 0px; }
    .photowall-container .frame {
      opacity: 1;
      border-width: 0 0 8px 0; }
    .photowall-container .tile {
      border-bottom: 0px solid transparent;
      width: 75px;
      height: 75px; }
      .photowall-container .tile .credit {
        transform: none;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform-origin: none;
        -o-transform-origin: none;
        -ms-transform-origin: none;
        -moz-transform-origin: none;
        -webkit-transform-origin: none; }
      .photowall-container .tile.big {
        width: 150px;
        height: 150px; }
      .photowall-container .tile figcaption {
        padding: 5px 8px;
        display: none; }
      .photowall-container .tile:hover .frame {
        border-width: 8px; } }
