@media all and (max-width: 768px) {
  @-viewport {
    width: 640px; }

  .photowall-container {
    padding: 0px 0 0 0px;
    width: 640px; }
    .photowall-container .cell {
      border: 0px solid transparent;
      margin-top: 0px;
      margin-left: 0px; }
    .photowall-container .frame {
      opacity: 1;
      border-width: 0 0 15px 0; }
    .photowall-container .tile {
      border-bottom: 0px solid transparent;
      width: 160px;
      height: 160px; }
      .photowall-container .tile .credit {
        transform: none;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform-origin: none;
        -o-transform-origin: none;
        -ms-transform-origin: none;
        -moz-transform-origin: none;
        -webkit-transform-origin: none; }
      .photowall-container .tile.big {
        width: 320px;
        height: 320px; }
      .photowall-container .tile figcaption {
        display: none; } }
