h1, h2, h3, div, p, ul, ol, li, dl, dt, dd, iframe, figure {
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: inherit;
  font-weight: inherit; }

body {
  font-weight: normal;
  font-size: 100%;
  font-family: sans-serif; }

a {
  text-decoration: none; }

h1 {
  font-size: 150%;
  text-align: center; }

h2 {
  font-size: 125%;
  text-align: center; }

h3 {
  text-align: center; }

#drop-target {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 512px;
  height: 512px;
  margin: 15px auto;
  background-color: gray;
  border-radius: 20px;
  border: 4px dashed gray; }
  #drop-target:hover {
    border-color: black; }

#upload-progress {
  width: 512px;
  margin: auto; }
  #upload-progress #counter {
    width: 50px;
    float: left; }
  #upload-progress #meter {
    width: 462px;
    height: 30px;
    background-color: blue;
    float: left; }
