h1, h2, h3, div, p, ul, ol, li, dl, dt, dd, iframe {
  font-family: sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: inherit;
  font-weight: inherit; }

img {
  display: block; }

h1 {
  font-size: 150%;
  text-align: center; }

h2 {
  font-size: 125%;
  text-align: center; }
  h2 select {
    font-size: 125%;
    vertical-align: middle; }

h3 {
  margin: 10px auto;
  text-align: center; }

#instructions {
  width: 512px;
  font-size: 125%;
  margin: 15px auto;
  font-weight: lighter; }
  #instructions dt {
    font-weight: bold; }
  #instructions dd {
    margin: 10px 20px; }

#drop-target {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 512px;
  height: 512px;
  margin: 15px auto;
  background-color: gray;
  border-radius: 20px;
  border: 4px dashed gray; }
  #drop-target:hover {
    border-color: black; }

#upload-progress {
  width: 512px;
  margin: auto; }
  #upload-progress #counter {
    width: 50px;
    float: left; }
  #upload-progress #meter {
    width: 462px;
    height: 30px;
    background-color: blue;
    float: left; }

#main {
  width: 800px;
  margin: 40px auto; }

#image-list {
  margin: 20px auto; }
  #image-list img {
    margin-bottom: 10px; }
  #image-list img.tall {
    width: 435px; }
  #image-list img.wide {
    height: 435px; }
  #image-list label.disabled {
    color: #aaaaaa; }
    #image-list label.disabled input {
      background-color: #eeeeee;
      border: 1px solid #eeeeee; }
  #image-list input.long {
    width: 512px; }
  #image-list input.short {
    width: 50px; }
  #image-list li {
    margin-bottom: 50px;
    position: relative; }

.border {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid rgba(255, 0, 0, 0.4);
  width: 435px;
  height: 435px; }

#builder {
  display: none; }
  #builder.show {
    display: block; }

#build-output.off {
  display: none; }
#build-output iframe {
  width: 800px; }

.spinner {
  height: 128px;
  width: 128px;
  background-image: url("/spinner.gif");
  display: none;
  margin: 50px auto; }

.working .spinner {
  display: block; }

.controls {
  cursor: pointer;
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: padding 0.1s ease-in;
  -o-transition: padding 0.1s ease-in;
  -moz-transition: padding 0.1s ease-in;
  -webkit-transition: padding 0.1s ease-in;
  opacity: 0.4;
  background-color: #aaaaaa;
  position: absolute;
  padding: 4px; }
  .controls:hover {
    opacity: 0.8;
    background-color: #dddddd; }
  .controls.up {
    border-radius: 0 0 5px 5px;
    top: 0;
    left: 192.5px; }
    .controls.up:hover {
      padding-bottom: 50px; }
  .controls.left {
    border-radius: 0 5px 5px 0;
    left: 0;
    top: 217.5px; }
    .controls.left:hover {
      padding-right: 50px; }
  .controls.right {
    border-radius: 5px 0 0 5px;
    right: 0;
    top: 217.5px; }
    .controls.right:hover {
      padding-left: 50px; }
  .controls.down {
    border-radius: 5px 5px 0 0;
    bottom: 0;
    left: 192.5px; }
    .controls.down:hover {
      padding-top: 50px; }
