<% show_embed_code ||= false %>
<% content_for :css do %>
  <style type="text/css">
    @media (max-width: 800px) {
      body: {
        margin: 0;
        padding: 0;
      }
    }
  </style>
  <meta name="photo-wall-static" content="local">
<% end %>

<% if show_embed_code %>
  <pre class="embed_code" style="white-space: pre-line;word-wrap: break-word;">
    <%=h "<!-- Photowall embed code, subject to the whims of a capricious master -->" %>
    <%=h "<div class='photowall-container' data-layout='#{remote_json}'></div>" %>
    <%=h "<script type='text/javascript' src='https://photo-wall-static.s3.amazonaws.com/v3/bootstrap.js'></script>" %>
  </pre>
<% end %>

<div class="photowall-container" data-layout='<%= remote_json %>'></div>

<script type="text/javascript" src="/bootstrap.js"></script>
