<% content_for :css do %>
  <style type="text/css">
    @media (max-width: 800px) {
      body: {
        margin: 0;
        padding: 0;
      }
    }
  </style>
  <meta name="photo-wall-static" content="local">
<% end %>

<div class="photowall-container" data-layout='<%= remote_json %>'></div>

<script type="text/javascript" src="/bootstrap.js"></script>
