<% content_for :css do %>
  <style type="text/css">
    @media (max-width: 800px) {
      body: {
        margin: 0;
        padding: 0;
      }
    }
  </style>
<% end %>

<div class="photowall-container" data-layout='<%= remote_json %>'></div>

<script type="text/javascript" src="/bootstrap.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function() {
    LabsPhotoWall.bootstrap({local: true});
  })
</script>
