!!! 5
%html
  %head
    %meta{ charset: 'utf-8'}
    %meta{ name: 'viewport', content: "width=device-width"}
    = yield_content :css if content_for? :css
    %title
      - if content_for? :title
        yield_content(:title)
      - else
      HuffPost Labs Photo Grid

  %body
    = yield
